@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');
.container{
    display: flex;
    justify-content: center;
    padding: 80px;
}
.square{
    width: 460px;
    height: 430px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 20px 50px #d9dbdf;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.square:hover{
    transform: translate(10px, -10px);
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}
.mask{
    clip: rect(0px,460px,220px,0px);
    border-radius: 4px;
    position: absolute;
}
img{
    width: 460px;
}
.h1{
    margin: auto;
    text-align: left;
    margin-top: 240px;
    padding-left: 40px;
    font-family: 'Merriweather', serif;
    font-size: 24px;
}
p{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #C8C8C8;
    line-height: 18px;
}
.button{
    background-color: #3EDD84;
    color: #fff;
    width: 90px;
    padding: 10px 18px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 30px;
    margin-left: 30px;
    
    
    font-size: 12px;
    cursor: pointer;
    font-family: 'merriweather';
}
.button:hover{
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    background-color: #80f1b1;
}
